* {
  box-sizing: border-box;
}

ul {
  padding-inline-start: 40px;
}
.listContainer {
  list-style-type: none;
  background-color: #93ff85;
  margin: 7%;
  padding: 3%;
}
.eduListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.expListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.bg {
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: rgb(6, 114, 21);
  height: 50%;
  width: 50%;
  z-index: -2;
}

@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
    height: auto;
  }

  .page {
    min-height: none;
    height: auto !important;
  }

  .skills {
    display: none;
  }
}
